@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: beige;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
#add-exp-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
  
h1 {
    font-family: Noto Sans Mono, sans-serif;
    font-size: 30px;
    text-align: center;
    height: 50px;
    width: 400px;
    color: bisque;
    background-color:  #339aa1;
    border-radius: 15px;
}
  
input[type="text"] {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
  
button {
    display:block;
    width: 100px;
    padding: 8px;
    background-color: #3521ac;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
}
  
th, td {
    font-family: Noto Sans Mono, sans-serif;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }


#expense-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50px;
    left: 50px;
    background-color:#339aa1; ;

}
  
.delete-btn {
    background-color: #a2511f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}